:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #29376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Fonts */ 
    --font-robot: 'Roboto';
    
}